.App {
  text-align: center;
  background-color: rgb(195, 0, 255);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 100px;
}


.card{
  border-radius: 0%;
  padding: 1em;
}

.buttonText{
  position: relative;
  padding: 5px;
  background-color: transparent;
  display: inline-block;
  margin: 3px;
  outline: none;
  border: none;
  font-size: 1em;
  color: black;
  cursor: pointer;
}

.buttonTextRed{
  position: relative;
  padding: 5px;
  background-color: transparent;
  display: inline-block;
  margin: 3px;
  outline: none;
  border: none;
  font-size: 1em;
  color: red;
  cursor: pointer;
}

.cardMainContent{
  flex: content;
  flex-direction: column;
}

.cardContent{
  display: flex;
  flex-wrap: wrap;
  min-height: max-content;
  padding: 10px;
  margin-top: 50px;
  
}
.CardContentLeft{
  float: left;
  width: 50%;
}

.CardContentRight{
  float: right;
  width: 50%;
}

.buttonContainer{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}